:root{
	--42-color: #00BABC;
	--lavender: #D0CFEC;
	--brown: #C6AE82;
	--pink: #EDC7CF;
	--black: #201E1F;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    border: none;
    background: var(--42-color);
    color: white;
    padding: 12px 24px;
    margin: 2rem;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.logOut{
	border-color: var(--42-color) !important;
	border-style: solid !important;
	background-color: white !important;
	color: var(--42-color) !important;
}

/* HOME */
.phrase{
	font-size: 2rem;
	margin: 2rem 0rem;
}

/* PROFILE */
.profileContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}

.profileContainer ul{
	/* text-align: right; */
	/* width: 100px; */
	padding: 0px;
}

.profileContainer .row{
	display:flex;
	padding: 0.75rem;
	font-size: 1.25rem;
}

.profileContainer .rowName{
	text-align: left;
	width: 100px;
}

.profileContainer .rowValue{
	text-align: right;
	width: 100px;
	/* float: right; */
}

/* About */
.paragraphContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.opening{
	line-break: normal;
	font-size: 1.3rem;
	width: 50vw;
	padding: 1.8rem;
	line-height: 2rem;
	margin:3rem;
}
.writer{
	text-align: right;
}

.rulesContainer{
	margin: 4rem 2rem;
}
.rulesContainer p{
	width: 50vw;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 0rem 2rem;
	margin-bottom: 3rem;
}

.rulesTitle{
	font-size: 3rem;
	margin-bottom: 4rem;
	color: var(--42-color);
}

.rulesContainer .ruleNumber0{
	color: red;
}

.rulesContainer .ruleDouble{
	color: rgb(163, 162, 162);
}


/* NAVBAR */
.nav {
  background-color: #00BABC;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  height: 4rem;
}

.nav .site-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  color: white;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


/* FINDMATCH */
.daylist {
	display:flex;
	justify-content: space-between;
	width: 100vh;
}

.daylist .listelem {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
}

.daylist .listelem .time {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: #00BABC;
	color: white;
}

.daylist .listelem .time:hover {
	background-color: #e6ff05;
	color: black;
}

.daylist .listelem .timequeued {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: grey;
	color: white;
}

.daylist .listelem .timematched {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: black;
	color: white;
}

.trash:hover {
	color: red;
}

/* FIND MATCH MODAL */

.modalBackground {
	background-color: rgba(200,200,200, 0.75);
	width: 100vw;
	height: 100vh;
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;

	top:0;
	right:0;
	bottom:0;
}

.modalContainer {
	width:500px;
	height:500px;
	background-color: white;
	border-radius: 12px;
	box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;;
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.modalContainer .title {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

.titleCloseBtn {
	display: flex;
	justify-content:  flex-end;
}

.titleCloseBtn button{
	background-color: transparent;
	border: none;
	font-size:25px;
	cursor: pointer;
}

.modalContainer .body {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	text-align: center;
}

.modalContainer .footer {
	flex: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContainer .footer button {
	width: 150px;
	height: 45px;
	margin: 10px;
	border: none;
	background-color: #00BABC;
	color: white;
	border-radius: 15px;
	font-size:20px;
	cursor: pointer;
}
#cancelBtn{
	background-color: rgb(234, 91, 119);
}


/* match.js */

li {
	list-style-type: none;
	text-align: center;
}

.matchList{
	padding: 3rem;
}
.matchContainer {
	display:flex;
	justify-content: center;
}

.matchContainer .versus{
	font-size: 1.5rem;
	background: green;
	padding:1.5rem;
	font-weight:700;
}
.userContainer{
	justify-content: center;
	background:grey;
	padding: 1.5rem;
}

.scoreContainer{
	padding : 0.25rem;
}

.scoreTitle{
	margin-bottom: 0.5rem;
}

.inactiveBtn {
	background: grey !important;
}

/* LEADERBOARD */

.tableContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.leaderboardtable{
	background-color: var(--lavender);
	text-align: center;
	margin: 3rem;
}

.column{
	padding: 1.4rem 3rem;
	border-color: red;
	border-style: solid;
}

.leaderboardtable .header{
	font-size: 1.4rem;
	background-color: var(--brown);
	color: white;
}

/* .leaderboardtable tr{
	padding: 3rem;
} */

/* .leaderboardtable .email{

} */