:root{
	--42-color: #00BABC;
	--lavender: #D0CFEC;
	--brown: #C6AE82;
	--pink: #EDC7CF;
	--black: #201E1F;
	--bronze: #A77044;
	--silver: #A7A7AD;
	--gold: #FFD700;
	--platinum: #E5E4E2;
	--diamond: #b9f2ff;
	--master: #3a4b61;
	--grandmaster: #d04eca;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  color:var(--black);
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    border: none;
    background: var(--42-color);
    color: white;
    padding: 12px 24px;
    margin: 2rem;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.logOut{
	border-color: var(--42-color) !important;
	border-style: solid !important;
	background-color: white !important;
	color: var(--42-color) !important;
}

/* HOME */
.phrase{
	font-size: 2rem;
	margin: 2rem 0rem;
}

/* PROFILE */
.profileContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

}

.profileContainer ul{
	/* text-align: right; */
	/* width: 100px; */
	padding: 0px;
}

.profileContainer .row{
	display:flex;
	padding: 0.75rem;
	font-size: 1.25rem;
}

.profileContainer .rowName{
	text-align: left;
	width: 100px;
}

.profileContainer .rowValue{
	text-align: right;
	width: 100px;
	/* float: right; */
}

/* About */
.paragraphContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.opening{
	line-break: normal;
	font-size: 1.3rem;
	width: 50vw;
	padding: 1.8rem;
	line-height: 2rem;
	margin:3rem;
}
.writer{
	text-align: right;
}

.rulesContainer{
	margin: 4rem 2rem;
}
.rulesContainer p{
	width: 50vw;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 0rem 2rem;
	margin-bottom: 3rem;
}

.rulesTitle{
	font-size: 3rem;
	margin-bottom: 4rem;
	color: var(--42-color);
}

.rulesContainer .ruleNumber0{
	color: red;
}

.rulesContainer .ruleDouble{
	color: rgb(163, 162, 162);
}


/* NAVBAR */
.nav {
  background-color: #00BABC;
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  height: 4rem;
  width:100vw;
}

.nav .site-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  color: white;
}

.nav .dropdownIcon{
	display:none;
}

.nav .showDropdown{
	display:none;
}

@media only screen and (max-width: 960px){
	.nav .dropdownIcon{
		display:flex;
		align-items: center;
		padding: 1rem;
		position:absolute;
		top: 8px;
		right: 8px;
	}

	.nav .toDropdown{
		display:none;
	}

	.nav ul{
		display:flex;
		flex-direction: column;
		background-color: var(--42-color);
		z-index: 1;
		position: relative;
	}
	
	.nav .showDropdown{
		display:flex;
		padding: 0rem 1rem;
		padding-bottom: 1rem;

	}
	
	.nav .dropdownList{
		display:block;
		position:absolute;
		top:4rem;
		right:0rem;
	}

	.nav .welcome{
		display:none;
	}
}
/* NAV END */


.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


/* FINDMATCH */

.findMatchContainer{
	display:flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 3rem;
}
.daylist {
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 90vw;
	margin-bottom: 0rem;
}

.daylist .listelem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
}

.daylist .listelem h2 {
	height: 60px;
	width:140px;
}


.daylist .listelem .time {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: #00BABC;
	color: white;
}

.daylist .listelem .time:hover {
	background-color: #e6ff05;
	color: black;
}

.daylist .listelem .timequeued {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: grey;
	color: white;
}

.daylist .listelem .timematched {
	font-size: 2rem;
	padding: 1.5rem;
	margin: 0.5rem;
	background-color: black;
	color: white;
}

.trash > path:hover {
	fill: red !important;
}

.findMatchContainer .explanation{
	display:flex;
	margin-top: 0rem;
	font-size:15px;
}

.findMatchContainer .explanation li{
	color: white !important;
	padding: 1rem;
	margin : 1rem;
	border-radius: 8px;
	text-align: center;
}

.findMatchContainer .explanation .matchReserved {
	display:flex;
	background-color: black;
}

.findMatchContainer .explanation .queueBooked {
	display:flex;
	background-color: grey;
}

.findMatchContainer .explanation .queueAvailable {
	display:flex;
	background-color: var(--42-color);
}

.findMatchContainer .status{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100vw;
}

.findMatchContainer .status div{
	width: 30vw;
	padding: 2rem;
}

.findMatchContainer .status div h1{
	height: 50px;
}

.findMatchContainer .status .statusUnit{
	padding-bottom:1rem;
}

.findMatchContainer .status .icon{
	padding-left:1rem;
}

@media only screen and (max-width: 768px){
	.findMatchContainer .status{
		display:flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
		width: 100vw;
	}

	.findMatchContainer .status div{
		width: 50vw;
		padding: 2rem;
	}	
}

/* FIND MATCH MODAL */

.modalBackground {
	background-color: rgba(200,200,200, 0.75);
	width: 100vw;
	height: 100vh;
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;

	top:0;
	right:0;
	bottom:0;
}

.modalContainer {
	width:500px;
	height:500px;
	background-color: white;
	border-radius: 12px;
	box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;;
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.modalContainer .title {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

.titleCloseBtn {
	display: flex;
	justify-content:  flex-end;
}

.titleCloseBtn button{
	background-color: transparent;
	border: none;
	font-size:25px;
	cursor: pointer;
}

.modalContainer .body {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	text-align: center;
}

.modalContainer .footer {
	flex: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContainer .footer button {
	width: 150px;
	height: 45px;
	margin: 10px;
	border: none;
	background-color: #00BABC;
	color: white;
	border-radius: 15px;
	font-size:20px;
	cursor: pointer;
}
#cancelBtn{
	background-color: rgb(234, 91, 119);
}


/* MATCH.js */

li {
	list-style-type: none;
	text-align: center;
}

.matchSingleTitle{
	font-size: 2.5rem !important; 
}
.matchWarning{
	padding: 3rem;
	text-align: center;
	font-size: 25px;
}

.matchList{
	padding: 3rem;
}
.matchContainer {
	display:flex;
	justify-content: center;
	align-items: center;
}

.matchContainer .versus{
	display:flex;
	align-items: center;
	font-size: 1.5rem;
	padding:1.5rem;
	font-weight:700;
}
.userContainer{
	justify-content: center;
	background: var(--lavender);
	padding: 1.5rem;
	border-radius: 10px;
}

.scoreContainer{
	padding : 0.5rem;
}

.scoreContainer input{
	border-radius: 5px;
}

.scoreTitle{
	margin-bottom: 0.5rem;
}

.inactiveBtn {
	background: grey !important;
}

.matchContainer .inputButton{
	background-color: var(--42-color);
	height:80px;
}

.matchContainer .deleteBtn {
	border: 1px solid;
	border-color: var(--42-color);
	background: white;
	color: var(--42-color);
}


/* LEADERBOARD */

.leaderboardTitle{
	text-align: center;
	padding:3rem;
}
.tierList{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 2rem;
	width: 80vw;
	position:absolute;
	left:50%;
	transform: translate(-50%,-50%);
}

.tierList > div {
	border: 5px solid;
	padding: 0.25rem;
	margin: 0.25rem;
	border-radius: 5px;
}

.tierList .grandmaster{
	border-color: var(--grandmaster);
}

.tierList .master{
	border-color: var(--master);
}

.tierList .diamond{
	border-color: var(--diamond);
}

.tierList .platinum{
	border-color: var(--platinum);
}

.tierList .gold{
	border-color: var(--gold);
}

.tierList .silver{
	border-color: var(--silver);
}

.tierList .bronze{
	border-color: var(--bronze);
}

.tierList .unranked{
	border-style: dashed;
	border-color: rgba(0, 0, 0, 0.119);
}

.tableContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:1rem;
}

.leaderboardtable{
	text-align: center;
	margin: 3rem;
	border-radius: 5px;
	width: 80vw;
	border-collapse: seperate;
	border-spacing: 0px 10px;
}

.leaderboardtable .header{

	font-size: 1.5rem;
	background-color: var(--lavender);
	color: var(--black);
	padding: 2rem;
}

.leaderboardtable tr{
	box-shadow: 6px 6px 5px #ccc;
	margin-bottom:3rem !important;
	background-color: rgb(237, 236, 236)	;
}

.leaderboardtable td{
	padding: 1.4rem 3rem;
	font-size: 1.5rem;
}

.leaderboardtable td:first-child, th:first-child {
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
}
.leaderboardtable td:last-child, th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* 
Grandmaster: 1 
Master: 3		//4
Diamond: 5 		//9
Platinum: 7 	//16
Gold: 10 		//26
Silver: 13 		//39
Bronze: 16 		//55
*/

/* Grandmaster #1 */
.leaderboardtable tbody > tr:nth-child(1) > td:first-child{
	border-color: var(--grandmaster);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(1) > td:last-child{
	border-color: var(--grandmaster);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}

.leaderboardtable tbody > tr:nth-child(1) > td{
	border-color: var(--grandmaster);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}


/* Master #2~4 */
.leaderboardtable tbody > tr:nth-child(n+2):nth-child(-n+4) > td{
	border-color: var(--master);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+2):nth-child(-n+4) > td:first-child{
	border-color: var(--master);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+2):nth-child(-n+4) > td:last-child{
	border-color: var(--master);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}


/* Diamond #5~9 */
.leaderboardtable tbody > tr:nth-child(n+5):nth-child(-n+9) > td{
	border-color: var(--diamond);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+5):nth-child(-n+9) > td:first-child{
	border-color: var(--diamond);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+5):nth-child(-n+9) > td:last-child{
	border-color: var(--diamond);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}


/* Platinum #10~16*/
.leaderboardtable tbody > tr:nth-child(n+10):nth-child(-n+16) > td{
	border-color: var(--platinum);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+10):nth-child(-n+16) > td:first-child{
	border-color: var(--platinum);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+10):nth-child(-n+16) > td:last-child{
	border-color: var(--platinum);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}


/* Gold #17~26*/
.leaderboardtable tbody > tr:nth-child(n+17):nth-child(-n+26) > td{
	border-color: var(--gold);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+17):nth-child(-n+26) > td:first-child{
	border-color: var(--gold);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+17):nth-child(-n+26) > td:last-child{
	border-color: var(--gold);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}


/* Silver #27~39*/
.leaderboardtable tbody > tr:nth-child(n+27):nth-child(-n+39) > td{
	border-color: var(--silver);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+27):nth-child(-n+39) > td:first-child{
	border-color: var(--silver);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+27):nth-child(-n+39) > td:last-child{
	border-color: var(--silver);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}

/* Bronze #40~55 */
.leaderboardtable tbody > tr:nth-child(n+40):nth-child(-n+55) > td{
	border-color: var(--bronze);
	border-width: 8px 0px 8px 0px;
	border-style: solid none;
}

.leaderboardtable tbody > tr:nth-child(n+40):nth-child(-n+55) > td:first-child{
	border-color: var(--bronze);
	border-width: 8px 0px 8px 8px;
	border-style: solid none solid solid;
}

.leaderboardtable tbody > tr:nth-child(n+40):nth-child(-n+55) > td:last-child{
	border-color: var(--bronze);
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
}

/* 
Grandmaster: 1 
Master: 3		//4
Diamond: 5 		//9
Platinum: 7 	//16
Gold: 10 		//26
Silver: 13 		//39
Bronze: 16 		//55
*/


/* .leaderboardtable tr{
	padding: 3rem;
} */

/* .leaderboardtable .email{

} */